@use "base/variables" as *;
@use "base/mixins-adaptive" as *;

.additional-info {
    padding-top     : 5.375rem;
    padding-bottom  : 4.125rem;
    display         : flex;
    justify-content : center;
    background-color: $color-aside-background;
    position        : relative;
    overflow        : hidden;

    &__container {
        display        : flex;
        flex-direction : column;
        gap            : 1.25rem;
        justify-content: center;
        align-items    : center;
        max-width      : 43.75rem;  // max-width: 700px;

        @media screen and (min-width: $screen-md) {
            width: 48.61%;
        }

    }

    &__title {
        font-weight: $font-weight-h1;
        color      : $color-aside-text;
        @include adaptive-value('font-size', $h2-font-size-mobile, $h2-font-size-desktop);
        @include adaptive-value('line-height', $h2-line-height-mobile, $h2-line-height-desktop);
    }

    &__text {
        padding    : 0 0.625rem;
        line-height: $line-height-aside;
        color      : $color-aside-text;
        text-align : center ;
    }

    &__btn {
        font-weight     : $btn-font-weight;
        padding         : 0.625rem 1.25rem;
        border          : none;
        border-radius   : 0.25rem;
        background-color: $color-aside-btn;
        color           : $color-aside-btn-text;
        cursor          : pointer;
        @include adaptive-value('font-size', $btn-font-size);
        @include adaptive-value('line-height', $btn-line-height);
    }

    &__background {

            // Intersect upper-left
        &:first-child {
            @include adaptive-background-property('width', 117.43px, 175.39px);
            @include adaptive-background-property('height', 111.43px, 166.43px);
            @include adaptive-background-property('left', -14px, -18px);
            
            & {
                top: 0px;
                transform: rotate(90deg) scaleX(-1);
            }
        }


            // Intersect bottom-right
        &:nth-child(2) {
            @include adaptive-background-property('width', 103.95px, 471.28px);
            @include adaptive-background-property('height', 104.99px, 475.99px);
            @include adaptive-background-property('right', -7.95px, 22.86px);
            
            & {
                bottom: 0px;
            }
        }

          // blood-cells start

            // blood-cell upper-left (first)
        &:nth-child(3) {
            @include adaptive-background-property('width', 16.93px, 35.79px);
            @include adaptive-background-property('height', 17.8px, 37.64px);
            @include adaptive-background-property('top', 38.26px, 57px);
            @include adaptive-background-property('left', 52px, 197px);

            & {
                transform: scaleX(-1);
            }
        }

              // blood-cell upper-left (second)
        &:nth-child(4) {
            @include adaptive-background-property('width', 11.18px, 23.64px);
            @include adaptive-background-property('height', 11.76px, 24.86px);
            @include adaptive-background-property('top', 22px, 39px);
            @include adaptive-background-property('left', 91.75px, 302px);

            & {
                transform: rotate(23.64deg);
            }
        }

              // blood-cell bottom-left (first)
          &:nth-child(5) {
            @include adaptive-background-property('width', 34.19px, 67.13px);
            @include adaptive-background-property('height', 35.96px, 70.6px);
            @include adaptive-background-property('bottom', 31.92px, 90.2px);
            @include adaptive-background-property('left', 61px, 150px);
        }

              // blood-cell bottom-left (second)
          &:nth-child(6) {
            @include adaptive-background-property('width', 11.31px, 22.2px);
            @include adaptive-background-property('height', 11.89px, 23.35px);
            @include adaptive-background-property('bottom', 6.93px, 67.29px);
            @include adaptive-background-property('left', 85.02px, 249px);

            & {
                transform: rotate(-146.68deg) scaleX(-1);
            }
        }

              // blood-cell upper-right
          &:nth-child(7) {
            @include adaptive-background-property('width', 23.25px, 25.2px);
            @include adaptive-background-property('height', 24.45px, 26.5px);
            @include adaptive-background-property('top', 46.51px, 70px);
            @include adaptive-background-property('right', -7.8px, 190.45px);

            & {
                transform: rotate(-60deg) scaleX(-1);
            }
        }

          //     blood-cell bottom-right
          &:nth-child(8) {
            @include adaptive-background-property('width', 22.2px, 22.2px);
            @include adaptive-background-property('height', 23.35px, 23.35px);
            @include adaptive-background-property('bottom', 68.29px, 75.29px);
            @include adaptive-background-property('right', 34.62px, 414.62px);

            & {
                transform: rotate(-146.68deg) scaleX(-1);
            }
        }
        // blood-cells end

        // dna bottom-left
        &:nth-child(9) {
            @include adaptive-background-property('width', 47.39px, 88.66px);
            @include adaptive-background-property('height', 119.86px, 224.25px);
            @include adaptive-background-property('bottom', -16.49px, -45px);
            @include adaptive-background-property('left', -6px, 12px);

            & {
                transform: rotate(150deg);
            }
        }

        // dna upper-right
        &:nth-child(10) {
            @include adaptive-background-property('width', 37.07px, 63.79px);
            @include adaptive-background-property('height', 93.76px, 161.34px);
            @include adaptive-background-property('bottom', 323.34px, 263.38px);
            @include adaptive-background-property('right', 25.01px, 234.09px);

            & {
                transform: rotate(30deg);
            }
        }

    }
}