@use "base/variables" as *;
@use "base/mixins-adaptive" as *;
@use "base/functions" as *;

.section {
    @include adaptive-value('padding-top', 22px, 80px);
    @include adaptive-value('padding-bottom', 60px, 80px);
    @include adaptive-value('padding-left', 10px, 10px);
    @include adaptive-value('padding-right', 10px, 10px);
    
    & {
        display       : flex;
        flex-direction: column;
    }

    // if there is two or more section in row we remove double padding
    & + & {
        @include adaptive-value('padding-top', 0, 0);
    }

    @media screen and (min-width: $screen-md) {
        align-items   : center;
    }

    &__container {
        display       : flex;
        flex-direction: column;
        gap           : 1.25rem;
    }

    &__container-1000 {
        max-width: px-to-rem(1000px);

        @media screen and (min-width: $screen-md) {
            width: 69.44%;
        }
    }
    &__container-1200 {
        max-width: px-to-rem(1200px);

        @media screen and (min-width: $screen-md) {
            width: px-to-percents(1200px);
        }
    }

    &__text-container {
        display       : flex;
        flex-direction: column;
        gap           : 1.25rem;
        line-height   : $line-height-base;
    }

    &__img-list {
        display       : flex;
        flex-direction: column;
        gap           : 1.25rem;
        align-items   : center;

        @media screen and (min-width: $screen-md) {
            flex-direction: row;
        }
    }

    &__img-container {
        & img {
            max-width: 100%;
            height   : auto;
        }
    }

    &__subtitle {
        padding-top: 1rem;
        font-weight: $font-weight-h3;
        @include adaptive-value('font-size', $h3-font-size-mobile, $h3-font-size-desktop);
        @include adaptive-value('line-height', $h3-line-height-mobile, $h3-line-height-desktop);
    }

    &__title {
        font-weight: $font-weight-h2;
        @include adaptive-value('font-size', $h2-font-size-mobile, $h2-font-size-desktop);
        @include adaptive-value('line-height', $h2-line-height-mobile, $h2-line-height-desktop);
    }

}