@use "base/functions" as *;

// colors
$color-primary: #5050EB;
$color-secondary: #99CCFF;

//color-text
$color-text-primary: #222222;
$color-text-secondary: #FFFFFF;

// screen sizes
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1440px;

// font-size
$base-font-size: 16px; // if you want to change this value, don't forget to change the value in function px-to-rem

$h1-font-size-mobile: 28px;
$h1-font-size-desktop: 32px;

$h2-font-size-mobile: 28px;
$h2-font-size-desktop: 32px;

$h3-font-size-mobile: 20px;
$h3-font-size-desktop: 24px;

// font-weight
$font-weight-base: 400;
$font-weight-h1: 800;
$font-weight-h2: 600;
$font-weight-h3: 600;

//line-height
$line-height-base: 20.8px;
$line-height-aside: 18.208px;

$h1-line-height-mobile: 34.13px;
$h1-line-height-desktop: 39.01px;

$h2-line-height-mobile: 34.13px;
$h2-line-height-desktop: 39.01px;

$h3-line-height-mobile: 24.38px;
$h3-line-height-desktop: 29.26px;

// animation
$animation-duration: 0.3s;
$animation-easing: ease-in-out;
$animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);

// link
$color-link-active: #5050EB;
$color-link-visited:#B2B2FF;
$font-weight-link-active: 600;


// button 
$btn-font-size: 16px;
$btn-line-height: 19.5px;
$btn-font-weight: 400;

// nav-utilities
$nav-utilities-font-size: 14px; 
$nav-utilities-line-height: 19.6px;
$color-background-nav-utilities:#F8F8F8;
$border-radius-nav-utilities: 8px;

// aside
$color-aside-background: $color-secondary;
$color-aside-text: $color-text-secondary;
$color-aside-btn: $color-text-secondary;
$color-aside-btn-text: $color-text-primary;

//footer 
$footer-link-font-size: 14px;
$footer-link-line-height: 17.07px;
$footer-link-font-weight: 400;
$color-footer-text: #FFFFFF;
$color-footer-copyright-border: #FFFFFF;

// header-link
$color-header-link: $color-text-primary;
$color-header-link-active: $color-primary;
$header-link-font-size: 14px;
$header-link-line-height: 22.4px;
$header-link-font-weight: 400;

//summary
$summary-font-size: 16px;
$summary-line-height: 19.2px;
$summary-font-weight: 600;