@use "base/variables" as *;
@use "base/mixins-adaptive" as *;

// contacts header styles
.header { 
    &-contacts {
        gap: 1.5rem;
        & .contact {
            flex-direction: row;
            gap: 0.5rem;

            &__icon {
                display: flex;
            }
        }
    }

    .navigation-wrapper--hidden {
        top: -83px;
    }
    
    .navigation-wrapper--appearing {
        top: 0;
    }
}



.nav {

    &-sm {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: white;
        z-index: 2;
        transition: top 0.35s ease;
        @include adaptive-value('min-height', 67.77px);
        @media screen and (min-width: $screen-lg) {
            display: none;
        }

        &__search {
            position: fixed;
            left: 0;
            width: 100%;
            color: $color-text-secondary;

            &--hidden {
                display: none;
            }
            
            @include adaptive-value('top', 67.77px);

            @media screen and (min-width: $screen-md) {
                width: 65%;
                margin: 0 17.5%;
            }

            &-input {
                position: relative;
                border-radius: 0;
                border: none;
                background-color: $color-primary;
                font-weight: 400;
                outline: none;
                width: 100%;
                color: $color-text-secondary;
                @include adaptive-value('font-size', 16px);
                @include adaptive-value('line-height', 22.4px);
                @include adaptive-value('padding-left', 12px);
                @include adaptive-value('height', 74px);


                &::placeholder {
                    color: $color-text-secondary;
                }
    
                &::focus-visible {
                    outline: none;
                }
            }

            &-icon {
                position: absolute;
                @include adaptive-value('top', 21px);
                @include adaptive-value('right', 12px);
                @include adaptive-value('height', 32px);
                @include adaptive-value('width', 32px);
            }
        }
    }

    &-lg {
        display: none;
        @media screen and (min-width: $screen-lg) {
            display: flex;
            flex-direction: column;
            gap: 1.75rem;
        }
    }

    &-list {
        display: flex;
        gap: 3.5rem; //3.75rem;

        &__link {
            font-weight: $header-link-font-weight;
            color      : $color-header-link;
            @include adaptive-value('font-size', $header-link-font-size);
            @include adaptive-value('line-height', $header-link-line-height);
        }
    }

    &-utilities {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
        @include adaptive-value('font-size', $nav-utilities-font-size);
        @include adaptive-value('line-height', $nav-utilities-line-height);

        &__search {
            flex-grow: 0.5;
            display: flex;
            justify-content: center;

            &-container {
                position: relative;
                flex-basis: 19.444vw;
            }

            &-icon {
                position: absolute;
                top: 50%;
                left: 0.5rem;
                transform: translateY(-50%);
                width: 1.5rem;
                height: 1.5rem;
            }

            &-input {
                padding-left: 2.25rem;
                height: 2.625rem;
                border: none;
                width: 100%;

                &::placeholder {
                    font-style: italic;
                }

                &:focus + .icon {
                    color: $color-primary;
                }
            }
        }

        & icon {
            color: $color-text-primary
        }

        &__accessibility {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            cursor: pointer;
            transition: color $animation-duration $animation-easing;

            &:hover {
                color: $color-primary;
            }

            &-icon {
                width: 2rem;
                height: 2rem;

                @media screen and (min-width: $screen-lg) {
                    width: 2.25rem;
                    height: 2.25rem;
                }
            }
        }

    }
}

.main-nav {
    padding: 0.938rem 0.625rem; 

    &-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @media screen and (min-width: $screen-md) {
            justify-content: space-around;
            gap: 5px;
        }
    }

    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__icon {
        margin-left: 1.125rem;
        width: 2rem;
        height: 2rem;
    }

    &__logo {
        @media screen and (min-width: $screen-lg) {
            width: 11.75rem;
            height: 2.913rem;
        }
    }

    & .main-nav__icon {
        color: $color-primary;
    }

}

