@use "base/variables" as *;
@use "base/mixins" as *;

html {
    @include adaptive-value('line-height', $line-height-base);
    font-size  : $base-font-size;
    font-family: 'Montserrat';
    font-style : normal;
}

.background-element {
    position  : absolute;
    object-fit: cover;
}

.link {
    text-decoration: none;

    &.link--active {
        color      : $color-link-active;
        font-weight: $font-weight-link-active;
    }
}

.input {
    @include adaptive-value('font-size', $nav-utilities-font-size);
    border-radius: $border-radius-nav-utilities;
    background   : $color-background-nav-utilities;
    color        : $color-text-primary;
}

.icon {
    fill      : currentColor;
    min-width : 1.5rem;
    min-height: 1.5rem;
    transition: fill $animation-duration $animation-easing;

    &:hover {
        fill: currentColor;
    }

    &--active {
        fill: $color-link-active;
    }
}

.logo-company {
    min-width : 8.693rem;
    min-height: 2.173rem;
}

.copyright-logo {
    min-width : 6.375rem;
    min-height: 3rem;
}

.contacts {
    display: flex;
}

.contact {
    display    : flex;
    align-items: center;
}